mixin reviewsSlides(array)
  each item in array
    li.splide__slide.reviews-slider__slide
      blockquote.blockquote
        p.blockquote__text= item.text
        footer.blockquote__footer
          cite.blockquote__name= item.name
          time(datetime= item.datetime).blockquote__date= item.date
