mixin reviewsSlides(array)
  each item in array
    li.splide__slide.reviews-slider__slide
      blockquote.review
        p.review__text= item.text
        footer.review__footer
          cite.review__name= item.name
          time(datetime= item.datetime).review__date= item.date
