mixin socials(array)
  each item in array
    li.socials__item
      a(href= item.link style=`background-image: url("img/icons/socials/${item.image}")`).socials__link
        span.visually-hidden= item.title
