.container {
  --container-width: 1200px;

  margin: 0 auto;
  padding: 0 15px;
  max-width: var(--container-width);

  @include px425max {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include px768max {
    padding-right: 45px;
    padding-left: 45px;
  }

  @include px950 {
    padding-right: 15px;
    padding-left: 15px;
  }
}
