.container {
  --container-width: 1200px;

  margin: 0 auto;
  padding: 0 15px;
  max-width: var(--container-width);

  @include max-xs {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include max-md {
    padding-right: 45px;
    padding-left: 45px;
  }

  @include min-lg {
    padding-right: 15px;
    padding-left: 15px;
  }
}
