@mixin font($name, $font-family, $weight, $style, $font-name-local, $font-name-local-alternate) {
  @font-face {
    src:
      local("#{$font-name-local}"),
      local("#{$font-name-local-alternate}"),
      url("../fonts/" + $name + ".woff2") format("woff2");
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

/* @include hover {} */

@mixin hover-focus {
  @media (hover: hover) {
    &:focus {
      @content;
    }

    &:hover {
      @content;
    }
  }
}

/* @include hover-focus {} */

$xxs: 375px;
$xs: 426px;
$sm: 600px;
$md: 769px;
$lg: 950px;
$xl: 1200px;

@mixin min-xxs {
  @media (min-width: $xxs) {
    @content;
  }
}

/* @include min-xxs {} */

@mixin min-xs {
  @media (min-width: $xs) {
    @content;
  }
}

/* @include min-xs {} */

@mixin max-xs {
  @media (max-width: ($xs - 1px)) {
    @content;
  }
}

/* @include max-xs {} */

@mixin min-sm {
  @media (min-width: $sm) {
    @content;
  }
}

/* @include min-sm {} */

@mixin min-md {
  @media (min-width: $md) {
    @content;
  }
}

/* @include min-md {} */

@mixin max-md {
  @media (max-width: ($md - 1)) {
    @content;
  }
}

/* @include max-md {} */

@mixin min-lg {
  @media (min-width: $lg) {
    @content;
  }
}

/* @include min-lg {} */

@mixin min-xl {
  @media (min-width: $xl) {
    @content;
  }
}

/* @include min-xl {} */
