:root {
  --sans-serif: "Lato", "Helvetica", "Verdana", sans-serif;
  --serif: "Times New Roman", "Georgia", "Baskerville", serif;
  --color-white: rgb(255, 254, 253); /* #FFFEFD */
  --color-black: rgb(0, 0, 0); /* #000 */
  --color-primary: rgb(250, 198, 99); /* #FAC663 */
  --color-secondary: rgb(255, 114, 54); /* #FF7236 */
  --color-mirage: rgb(26, 33, 47); /* #1A212F */
  --color-shadow: rgba(26, 32, 47, 10%);
  --color-card-shadow: rgba(208, 208, 208, 25%); /* #D0D0D0 */
  --color-mercury: rgb(225, 225, 225); /* #E1E1E1 */
  --color-gray: rgb(132, 132, 132); /* #848484 */
  --color-gallery: rgb(239, 239, 239); /* #efefef */
  --color-filters-shadow: rgba(173, 152, 143, 18%); /* #ad988f */
  --color-overlay-bg: rgba(255, 254, 253, 80%);
  --color-alto: rgb(215, 215, 215); /* #d7d7d7 */
  --color-nobel: rgb(181, 181, 181); /* #b5b5b5 */
  --color-modal-shadow: rgba(153, 153, 153, 25%);
}
