footer.site-footer
  .site-footer__row
    .site-footer__container.container
      a(href="#").site-footer__logo.logo
        img(src="img/common/logo.svg", width="63" height="52" alt="Логотип сайта - Котейка").logo__image
      ul.site-navigation-list
        each item in pugData.site_navigation
          li.site-navigation-list__item
            a(href= item.link_url).site-navigation-list__link= item.link_name
  .site-footer__row
    .container
      p.site-footer__copyright 2019 Все права защищены
      a(href="#").site-footer__policy Политика конфиденциальности
