.modals
  .container
    .modal.modal-reserve
      .modal__container
        .modal__body
          .modal__top
            button(type="button").modal__close-button
              span.visually-hidden Закрыть окно
          .modal__content
            h2.modal__title Забронировать номер
            form(action="#" method="POST").modal__form.modal-form
              input(type="text" name="client-name" id="client-name" placeholder="Ваше имя" required).modal-form__input
              label(for="client-name").visually-hidden Ваше имя
              input(type="text" name="client-pet-name" id="client-pet-name" placeholder="Имя Питомца" required).modal-form__input
              label(for="client-pet-name").visually-hidden Имя Питомца
              input(type="text" name="client-phone" id="client-phone" placeholder="Телефон" required).modal-form__input
              label(for="client-phone").visually-hidden Телефон
              input(type="email" name="client-email" id="client-email" placeholder="E-mail" required).modal-form__input
              label(for="client-email").visually-hidden E-mail
              p.modal-form__date-input
                | Дата заезда
                span.modal-form__input-wrapper
                  label(for="arrival-date").modal-form__label-input с
                    input(type="text" name="arrival-date" id="arrival-date" placeholder="26.01.2023" required).modal-form__input.modal-form__arrival-date
                  label(for="date-of-departure").modal-form__label-input по
                    input(type="text" name="date-of-departure" id="date-of-departure" placeholder="26.02.2023" required).modal-form__input.modal-form__departure-date
              button(type="submit").button Отправить заявку


    //- .modal.modal--complete
