section.page__promo-banner.promo-banner
  .container
    .promo-banner__container
      .promo-banner__content
        h2.visually-hidden Акция
        p.promo-banner__heading
          | Каждый 7-й день
          br
          span.promo-banner__heading--accent бесплатно!
        p.promo-banner__description Акция действует при размещении в&nbsp;номерах &ldquo;Люкс&rdquo; и&nbsp; &ldquo;Супер-Люкс&rdquo;
        button(type="button").promo-banner__button.button.button--secondary Забронировать
