.card-room {
  padding-top: 40px;

  @include min-md {
    padding-top: 60px;
  }

  @include min-xl {
    padding-top: 70px;
  }
}

.card-room__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: -151px;
    top: -24px;
    display: none;
    width: 229px;
    height: 233px;
    background-image: url("../img/icons/paw-bottom-left-ic.svg");
    background-position: center;
    background-size: 229px 233px;
    background-repeat: no-repeat;

    @include min-xl {
      display: block;
    }
  }
}

.card-room__content {
  @include min-sm {
    display: flex;
  }
}

.card-room__gallery {
  margin-bottom: 35px;

  @include min-sm {
    flex-shrink: 1;
    margin-right: 30px;
    margin-bottom: 0;
  }

  @include min-md {
    margin-right: 60px;
  }

  @include min-lg {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0;
  }

  @include min-xl {
    margin-right: 70px;
  }
}

.card-room__big-slider {
  margin-bottom: 16px;

  @include min-md {
    margin-bottom: 21px;
  }

  @include min-lg {
    max-width: 500px;
  }
}

.card-room__big-slider .splide__slide > img {
  display: block;
  border-radius: 8px;
  width: 100%;
  height: 288px;
  object-fit: cover;

  @include min-lg {
    height: 396px;
  }
}

.card-room__thumbs-slider {
  @include min-lg {
    margin-right: 30px;
  }
}

.card-room__thumbs-slider .splide__track--nav > .splide__list > .splide__slide {
  border: none;
}

.card-room__thumbs-slider.splide__slide.is-active {
  border: none;
}

.card-room__thumbs-slider .splide__slide {
  position: relative;
}

.card-room__thumbs-slider .splide__slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 50%);
  transition: background-color 0.3s ease-in-out;
}

.card-room__thumbs-slider .splide__slide.is-active::before {
  background-color: rgba(255, 255, 255, 0%);
}

.card-room__thumbs-slider .splide__slide > img {
  display: block;
  border-radius: 4px;
  width: 100%;
  height: 64px;
  object-fit: cover;

  @include min-xs {
    height: 90px;
  }

  @include min-sm {
    height: 80px;
  }

  @include min-md {
    height: 78px;
  }

  @include min-lg {
    width: 70px;
    height: 112px;
  }
}

.card-room__description {
  @include min-sm {
    flex-shrink: 1;
    min-width: 250px;
  }

  @include min-md {
    flex-shrink: 1;
    min-width: 264px;
  }

  @include min-lg {
    min-width: 270px;
  }
}

.card-room__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: var(--color-mirage);

  @include min-sm {
    margin-top: -5px;
  }

  @include min-md {
    margin-top: -7px;
    margin-bottom: 26px;
    font-size: 36px;
  }

  @include min-lg {
    margin-bottom: 28px;
  }
}

.card-room__list {
  margin-top: 0;
  margin-bottom: 27px;
}

.card-room__button {
  @include min-sm {
    max-width: 206px;
  }
}
