.card-room-options__item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 14px;

  @include min-lg {
    margin-bottom: 18px;
  }
}

.card-room-options__item:last-of-type {
  margin-bottom: 0;
}

.card-room-options__item--column {
  flex-direction: column;
  margin-bottom: 17px;

  @include min-lg {
    margin-bottom: 23px;
  }
}

.card-room-options__title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--color-mirage);

  @include min-lg {
    font-size: 16px;
  }
}

.card-room-options__item--column .card-room-options__title {
  margin-bottom: 11px;

  @include min-md {
    margin-bottom: 17px;
  }

  @include min-lg {
    margin-bottom: 15px;
  }
}

.card-room-options__description {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--color-mirage);

  @include min-lg {
    font-size: 16px;
  }
}

.card-room-options__price {
  margin-left: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: var(--color-mirage);

  @include min-lg {
    margin-left: 9px;
  }
}
