.catalog-header {
  padding-top: 35px;

  @include px769 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 52px;
  }

  @include px1200 {
    padding-top: 62px;
  }
}

.catalog-header__title {
  margin-bottom: 34px;
  text-align: left;

  @include px769 {
    margin-bottom: 0;
  }
}

.catalog-header__controls {
  display: flex;
  justify-content: space-between;
}

.catalog-header__filter-button {
  align-self: flex-start;
  border: none;
  border-radius: 25px;
  padding: 8px 12px 10px 37px;
  box-shadow: 0 2px 12px var(--color-filters-shadow);
  font-weight: 600;
  font-size: 14px;
  color: var(--color-mirage);
  background-image: url("../img/filters-pin-ic.svg");
  background-position: left 15px top 9px;
  background-size: 12px 15px;
  background-repeat: no-repeat;
  background-color: var(--color-white);
  cursor: pointer;

  @include px769 {
    margin-right: 29px;
    padding: 8px 21px 10px 42px;
    background-position: left 20px top 9px;
  }

  @include px1200 {
    display: none;
  }
}
