.catalog-filters__wrapper {
  position: relative;
  z-index: 70;
  display: block;
  margin: auto;
  border-radius: 6px;
  padding: 50px 20px;
  max-width: 290px;
  box-shadow: 0 4px 25px 0 var(--color-card-shadow);
  background-color: var(--color-white);
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  will-change: transform, opacity;
  cursor: default;

  @include min-xl {
    position: static;
    display: block;
    padding: 0;
    width: 230px;
    box-shadow: none;
    background-color: unset;
    opacity: 1;
    transform: translateY(0);
  }
}

.catalog-filters__wrapper--active {
  opacity: 1;
  transform: translateY(0);
}

.catalog-filters__form {
  padding: 5px;
  width: 100%;
  height: 100%;

  @include min-xl {
    padding: 0;
  }
}

.catalog-filters__close-button {
  position: fixed;
  right: 19px;
  top: 19px;
  border: none;
  padding: 1px;
  width: 20px;
  height: 20px;
  background-image: url("../img/close-ic.svg");
  background-position: center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;

  @include min-xl {
    display: none;
  }
}

.catalog-filters__close-button:focus {
  border: 1px solid var(--color-primary);
}

.catalog-filters__close-button span {
  pointer-events: unset;
}

.catalog-filters__field {
  margin: 0;
  margin-bottom: 30px;
  border: none;
  padding: 0;

  @include min-xl {
    margin-bottom: 32px;
  }
}

.catalog-filters__field:last-of-type {
  @include min-xl {
    margin-bottom: 37px;
  }
}

.catalog-filters__legend {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: var(--color-mirage);

  @include min-xl {
    margin-bottom: 16px;
  }
}

.catalog-filters__input-wrapper {
  position: relative;
}

.catalog-filters__input-wrapper span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.catalog-filters__price-input:first-of-type {
  margin-right: 14px;

  @include min-xl {
    margin-right: 6px;
  }
}

.catalog-filters__price-input {
  appearance: none;
  display: inline-block;
  border: 1px solid var(--color-mercury);
  border-radius: 0;
  padding: 13px 8px;
  max-width: 99px;
  font-family: "Lato", sans-serif;

  @include min-xl {
    padding: 3px 5px;
    max-width: 100px;
    font-size: 14px;
  }
}

.catalog-filters__price-input::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: var(--color-mirage);
}

.catalog-filters__column {
  display: flex;
  flex-direction: column;
}

.catalog-filters__checkbox {
  display: inline;
  align-self: flex-start;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: var(--color-mirage);
  cursor: pointer;

  @include min-xl {
    display: flex;
    align-items: center;
  }
}

.catalog-filters__checkbox:not(:last-of-type) {
  margin-bottom: 15px;
}

.catalog-filters__custom-box {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border: 1px solid var(--color-mercury);
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-white);

  @include min-xl {
    width: 20px;
    height: 20px;
  }
}

.catalog-filters__checkbox-input:checked + .catalog-filters__custom-box {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.358 2.65095C11.5508 2.84867 11.5468 3.16523 11.3491 3.358L5.1952 9.358C5.00102 9.54733 4.69129 9.54733 4.4971 9.358L0.65095 5.608C0.453232 5.41523 0.449225 5.09867 0.642 4.90095C0.834775 4.70323 1.15133 4.69923 1.34905 4.892L4.84615 8.30168L10.651 2.642C10.8487 2.44923 11.1652 2.45323 11.358 2.65095Z' fill='%23141312'/%3E%3C/svg%3E");
}

.catalog-filters__checkbox-input:focus + .catalog-filters__custom-box {
  border: 1px solid var(--color-primary);
}

.catalog-filters__submit-button {
  margin-bottom: 15px;
}

.catalog-filters__submit-button,
.catalog-filters__reset-button {
  @include min-xl {
    max-width: 185px;
  }
}
