.contacts__container {
  padding-right: 0;
  padding-left: 0;
}

.contacts__title {
  margin-bottom: 29px;
  text-align: left;
}

.contacts__block-1 {
  background-color: var(--color-primary);
}

.contacts__text-content {
  padding: 36px 15px 40px;
}

.contacts__map-wrapper {
  height: 300px;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
