.contacts {
  position: relative;
  background-clip: content-box;

  @include min-md {
    background-color: var(--color-primary);
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  padding-left: 0;

  @include max-xs {
    padding-right: 0;
    padding-left: 0;
  }

  @include max-md {
    padding-right: 0;
    padding-left: 0;
  }

  @include min-md {
    flex-direction: row;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
}

.contacts__title {
  margin-bottom: 30px;
  text-align: left;

  @include min-xl {
    margin-bottom: 40px;
  }
}

.contacts__block-1 {
  background-color: var(--color-primary);

  @include max-xs {
    padding-right: 0;
    padding-left: 0;
  }

  @include max-md {
    padding-right: 45px;
    padding-left: 45px;
  }

  @include min-md {
    flex-shrink: 0;
    width: 47.75%;
  }

  @include min-lg {
    width: 41.65%;
  }

  @include min-xl {
    width: 40.2%;
  }
}

.contacts__text-content {
  padding: 35px 15px 40px;

  @include max-xs {
    padding: 35px 15px 40px;
  }

  @include max-md {
    padding: 35px 0 40px;
  }

  @include min-md {
    margin-left: auto;
    padding: 52px 45px 60px 0;
    max-width: 400px;
  }

  @include min-xl {
    padding: 62px 45px 70px 30px;
  }
}

.contacts__block-2 {
  @include min-md {
    position: relative;
  }
}

.contacts__map-wrapper {
  height: 300px;

  @include min-md {
    position: relative;
    width: calc(50vw - (0.4775 - 0.5) * 1170px);
    height: 100%;
  }

  @include min-lg {
    width: calc(50vw - (0.4165 - 0.5) * 1170px);
  }

  @include min-xl {
    width: calc(50vw - (0.402 - 0.5) * 1170px);
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include min-md {
    position: absolute;
    left: 0;
    top: 0;
  }
}
