.logo {
  display: block;
  width: 46px;
  height: 38px;

  @include px426 {
    width: 63px;
    height: 52px;
  }
}

.logo__image {
  width: 46px;
  height: 38px;

  @include px426 {
    width: 63px;
    height: 52px;
  }
}
