.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 70;
  display: none;
  overflow-y: auto;
  padding: 102px 15px;
  background-color: var(--color-overlay-bg);
  cursor: pointer;

  @supports ((-webkit-backdrop-filter: blur(4px)) or (backdrop-filter: blur(4px))) {
    backdrop-filter: blur(4px);
  }
}

.modal--active {
  opacity: 1;
}

.modal-reserve {
  transition: transform 0.3s cubic-bezier(1, -0.41, 0.43, 0.68);
}

.modal-success {
  display: none;
}

.modal-success .modal__container {
  opacity: 1;
  transform: translateY(0);
}

.modal-reserve--active {
  display: block;
  transform: translate(-50%, 0);
}

.modal__container {
  position: relative;
  margin: auto;
  max-width: 502px;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  will-change: transform, opacity;
  cursor: default;

  @include min-xl {
    max-width: 570px;
  }
}

.modal__container--active {
  opacity: 1;
  transform: translateY(0);
}

.modal__body {
  border-radius: 10px;
  box-shadow: 0 0 25px var(--color-modal-shadow);
  background-color: var(--color-white);
}

.modal-reserve .modal__body {
  background-image: url("../img/icons/paw-bottom-right-ic.svg");
  background-position: left -12px top -21px;
  background-size: 83px 84px;
  background-repeat: no-repeat;

  @include min-sm {
    background-position: left -32px top -29px;
    background-size: 122px 124px;
  }

  @include min-xl {
    background-position: left -14px top -22px;
  }
}

.modal-reserve__button {
  @include min-xs {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 230px;
  }
}

.modal-success .modal__body {
  background-image: url("../img/icons/modal-success-decor.svg");
  background-position: left -4px bottom -13px;
  background-size: 83px 88px;
  background-repeat: no-repeat;

  @include min-md {
    background-position: left -9px bottom -16px;
    background-size: 122px 130px;
  }
}

.modal__top {
  display: flex;
  margin-bottom: 5px;
  padding: 15px 17px;

  @include min-sm {
    padding: 23px 22px 7px;
  }

  @include min-xl {
    padding: 38px 38px 1px;
  }
}

.modal-success .modal__top {
  margin-bottom: 2px;
  padding: 17px;

  @include min-md {
    margin-bottom: 10px;
    padding: 22px 22px 12px;
  }

  @include min-xl {
    margin-bottom: 0;
    padding: 38px 38px 6px;
  }
}

.modal__content {
  padding: 0 15px 60px;

  @include min-xs {
    padding: 0 30px 60px;
  }

  @include min-xl {
    padding: 0 70px 60px;
  }
}

.modal-success .modal__content {
  @include min-md {
    padding: 0 30px 43px;
  }
}

.modal__close-button {
  margin-left: auto;
  outline: none;
  border: none;
  padding: 1px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/close-ic.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-button:focus {
  border: 1px solid var(--color-primary);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--color-mirage);

  @include min-sm {
    margin-bottom: 43px;
    font-size: 28px;
  }
}

.modal-success .modal__title {
  margin-bottom: 9px;

  @include min-md {
    margin-bottom: 13px;
  }
}

.modal__info-text {
  margin: 0 auto 30px;
  max-width: 160px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--color-mirage);

  @include min-sm {
    max-width: none;
  }

  @include min-md {
    margin-bottom: 44px;
  }
}

.modal__ok-button {
  text-align: center;
}

.modal__ok-button .button {
  width: auto;
}
