.page__main {
  padding-top: 62px;
}

.page__hero {
  margin-bottom: 70px;
}

.page__advantages {
  margin-bottom: 70px;
}

.page__rooms {
  margin-bottom: 70px;
}

.page__reviews {
  margin-bottom: 70px;
}

.page__promo-banner {
  margin-bottom: 70px;
}

.page__card-room {
  margin-bottom: 60px;
}
