.promo-banner__container {
  border-radius: 8px;
  padding-top: 46px;
  padding-bottom: 258px;
  background-image:
    url("../img/paw-white-decor.svg"),
    url("../img/promo-banner-bg.png"),
    linear-gradient(0deg, #ffc042 0%, #ffd058 100%);
  background-position: top -6px left -19px, bottom -84px right -8px, 0 0;
  background-size: 80px 79px, 285px, auto;
  background-repeat: no-repeat, no-repeat, no-repeat;

  @include min-xs {
    padding-bottom: 330px;
    background-size: 80px 79px, 340px, auto;
  }

  @include min-sm {
    padding-bottom: 380px;
    background-size: 80px 79px, 398px, auto;
  }

  @include min-md {
    border-radius: 10px;
    padding-top: 59px;
    padding-bottom: 70px;
    background-position: top -13px left -22px, bottom -84px right -8px, 0 0;
    background-size: 142px 140px, 398px, auto;
  }

  @include min-xl {
    padding-top: 68px;
    padding-bottom: 77px;
    background-position: top -20px left -7px, bottom -192px right -8px, 0 0;
    background-size: 224px 220px, 575px, auto;
  }
}

.promo-banner__content {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 360px;
  text-align: center;

  @include min-md {
    margin-right: auto;
    margin-left: 50px;
    max-width: 350px;
    text-align: left;
  }

  @include min-lg {
    margin-left: 170px;
  }

  @include min-xl {
    margin-left: 270px;
  }
}

.promo-banner__heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-mirage);

  @include min-sm {
    font-size: 30px;
  }

  @include min-md {
    font-size: 36px;
  }

  @include min-xl {
    margin-bottom: 14px;
  }
}

.promo-banner__heading--accent {
  font-size: 37px;
  line-height: 1;

  @include min-sm {
    font-size: 46px;
  }

  @include min-md {
    font-size: 56px;
  }
}

.promo-banner__description {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: var(--color-mirage);

  @include min-md {
    margin-bottom: 30px;
    max-width: 310px;
  }
}

.promo-banner__button {
  max-width: 206px;
}
