.reviews__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: -20px;
    top: -14px;
    z-index: -1;
    width: 100px;
    height: 104px;
    background-image: url("../img/paw-up-left-ic.svg");
    background-position: center;
    background-size: 100px 104px;
    background-repeat: no-repeat;

    @include min-md {
      right: -4px;
      top: -59px;
      width: 205px;
      height: 211px;
      background-size: 205px 211px;
    }

    @include min-xl {
      right: -115px;
      top: -115px;
      width: 282px;
      height: 290px;
      background-size: 282px 290px;
    }
  }
}

.reviews__title {
  margin-bottom: 33px;

  @include min-md {
    margin-bottom: 52px;
  }

  @include min-xl {
    margin-bottom: 61px;
  }
}

.reviews__slider {
  padding-bottom: 24px;
}
