.review {
  margin: 0;
  padding: 21px 20px 21px 56px;
  background-image: url("../img/quote-ic.svg");
  background-position: left 25px top 25px;
  background-size: 20px 18px;
  background-repeat: no-repeat;

  @include min-md {
    padding: 31px 33px 32px 70px;
    background-position: left 34px top 34px;
    background-size: 27px 23px;
  }

  @include min-xl {
    padding: 31px 35px 32px 70px;
  }
}

.review__text {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: var(--color-mirage);

  @include min-md {
    margin-bottom: 16px;
  }

  @include min-xl {
    font-size: 16px;
  }
}

.review__footer {
  display: none;
  justify-content: space-between;

  @include min-md {
    display: flex;
  }
}

.review__name {
  font-style: normal;
  font-size: 14px;
  color: var(--color-gray);
}

.review__date {
  font-size: 14px;
  color: var(--color-gray);
}
