.reviews-slider__slide {
  border-radius: 8px;
  box-shadow: 0 0 25px var(--color-card-shadow);
  background-color: var(--color-white);

  @include min-md {
    max-width: 442px;
  }

  @include min-lg {
    max-width: 470px;
  }
}

.reviews-slider__track {
  overflow: visible;
  margin-bottom: 35px;

  @include min-md {
    margin-bottom: 56px;
  }

  @include min-xl {
    margin-bottom: 60px;
  }
}

.reviews-slider__controls {
  position: relative;
  margin-top: 30px;
}

.reviews-slider__pagination {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.reviews-slider__pagination li:not(:last-of-type) {
  margin-right: 6px;
}

.reviews-slider__pagination .splide__pagination__page {
  width: 12px;
  height: 12px;
  background-color: var(--color-mercury);
  opacity: 1;
}

.reviews-slider__pagination .splide__pagination__page.is-active {
  width: 12px;
  height: 12px;
  background-color: var(--color-primary);
  transform: scale(1);
}

.reviews-slider__arrows {
  position: absolute;
  right: 70px;
  top: 50%;
  display: flex;
  transform: translateY(-50%);
}

.reviews-slider__arrow {
  position: static;
  width: 36px;
  height: 36px;
  box-shadow: 0 2px 12px var(--color-filters-shadow);
  background-color: var(--color-white);
  transform: translateY(0);
}

.reviews-slider__arrow .reviews-slider__arrow-icon {
  width: 6px;
  height: 10px;
  fill: var(--color-primary);
  transform: scaleX(1);
}

.reviews-slider__arrows .splide__arrow--prev {
  margin-right: 10px;
}

.reviews-slider__arrows .splide__arrow:disabled {
  opacity: 1;
  cursor: not-allowed;
}
