.rooms__title {
  margin-bottom: 33px;

  @include min-md {
    margin-bottom: 52px;
  }

  @include min-lg {
    margin-bottom: 62px;
  }
}

.rooms__container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 37px;
    width: 150px;
    height: 46px;
    background-image: url("../img/fish-ic.svg");
    background-position: center;
    background-size: 150px 46px;
    background-repeat: no-repeat;

    @include min-md {
      width: 339px;
      height: 106px;
      background-size: 339px 106px;
    }

    @include min-xl {
      left: -83px;
      top: 16px;
      width: 484px;
      height: 151px;
      background-size: 484px 151px;
    }
  }
}
