.rooms-slider {
  padding-bottom: 30px;
}

.rooms-slider__pagination {
  bottom: -20px;
}

.rooms-slider__pagination .splide__pagination__page {
  width: 12px;
  height: 12px;
  background-color: var(--color-mercury);
  opacity: 1;
}

.rooms-slider__pagination .splide__pagination__page.is-active {
  width: 12px;
  height: 12px;
  background-color: var(--color-primary);
  transform: scale(1);
}

.rooms-slider__track {
  overflow: visible;
}

.rooms-slider__slide {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 8px;
  box-shadow: 0 0 25px var(--color-card-shadow);
}

.rooms-slider__text-content {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 25px;
  background-color: var(--color-white);
}

.rooms-slider__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.rooms-slider__button {
  margin-top: 25px;
}

.rooms-slider__image {
  display: block;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
