.room-includes {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.room-includes__item {
  display: flex;
  align-items: center;

  @include min-lg {
    font-size: 16px;
  }
}

.room-includes__item:not(:last-of-type) {
  margin-bottom: 15px;

  @include min-lg {
    margin-bottom: 11px;
  }
}

.room-includes__icon {
  margin-right: 10px;

  @include min-lg {
    margin-right: 6px;
  }
}
