.site-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  padding: 12px 0;
  background-color: var(--color-white);
  transition: box-shadow 0.3s ease-in-out;
}

.site-header--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
}

.site-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo {
  position: relative;
  z-index: 10;
}

.site-header__navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 95px 15px 30px;
  width: 100%;
  background-color: var(--color-primary);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  @include max-xs {
    padding: 95px 15px 30px;
  }

  @include max-md {
    padding: 95px 45px 30px;
  }

  @include min-md {
    position: static;
    padding: 0;
    width: auto;
    background-color: transparent;
    transform: none;
  }
}

.site-header__navigation--active {
  transform: translateX(0);
}

.site-header__phone {
  display: inline-block;
  margin-bottom: 23px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: var(--color-mirage);
}

.site-header__contacts {
  @include min-md {
    display: none;
  }
}

.site-header__burger-button {
  position: relative;
  z-index: 10;
}
